<form ngNativeValidate (ngSubmit)="onAddMessageSubmit(f)" #f="ngForm">
  <div class="form-group">
      <label for="content"><strong>Content</strong></label>
      <input type="text" 
             class="form-control" 
             id="content"
             [ngModel]="message?.content"
             name="content"
             required>
  </div>
  <button class="btn btn-outline-primary" 
          type="submit" 
          style="cursor:pointer">
      Save
  </button>
  <button class="btn btn-outline-danger" 
          type="button" 
          style="cursor:pointer"
          (click)="onClearClick(f)">
      Clear
  </button>
</form>
  