/* You can add global styles to this file, and also import other style files */
body {
    padding: 20px;
    margin: 20px;
}

a.nav-link:hover {
    background-color: darkgrey;
}

.nav-tabs a.nav-link.active{
    background-color: #145faa;
    color: #fff;
}